/* GENERELT */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 1rem;
	background-color: #bdeadf;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
	border-radius: 1rem;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

video {
	width: 100%;
	height: auto;
	border-radius: 1rem;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

section {
	margin: 2rem 0;
}

.container_wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.center {
	display: grid;
	justify-content: center;
}

a.button {
	font-size: 1.25rem;
	background-color: #e8c0d6;
	border-radius: 1.5rem;
	border: none;
	cursor: pointer;
	padding: 1rem 1.5rem;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
	margin: 1rem 0;
}

a:hover.button {
	color: #eafaf7;
	background-color: #70c2b1;
}

em {
	font-style: normal;
	text-decoration: underline;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

/* ------------------------------------------------------------------------------------- */
/* FONTS & STYLING */

@font-face {
	font-family: 'wicked_mouseregular';
	src: url('fonts/wicked_mouse/wickedmouse-agok-webfont.woff2') format('woff2'),
		url('fonts/wicked_mouse/wickedmouse-agok-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-family: 'wicked_mouseregular', sans-serif;
	font-size: 2rem;
	letter-spacing: 0.05rem;
	word-spacing: 0.25rem;
	color: #3b1d7e;
	text-align: center;
}

h2 {
	font-family: 'wicked_mouseregular', sans-serif;
	font-size: 1.5rem;
	color: #3b1d7e;
	letter-spacing: 0.1rem;
	margin: 1rem;
}

h3 {
	color: #3b1d7e;
}

p {
	font-family: 'Cabin', sans-serif;
	color: #3b1d7e;
	word-spacing: 0.05rem;
	line-height: 1.2;
	margin-top: 1rem;
}

.box {
	background-color: #eafaf7;
	border-radius: 1rem;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	padding: 1rem;
}

.info p {
	margin: 1rem;
}

.info p:last-child {
	margin-bottom: 0;
}

.maintext {
	max-width: 90ch;
	font-size: 1.2rem;
	padding: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.maintext p {
	margin: 1rem;
}

.maintext p:last-child {
	margin-bottom: 0;
}

figcaption {
	font-family: 'Cabin', sans-serif;
	font-weight: 600;
	color: #3b1d7e;
	letter-spacing: 0.05rem;
}

.caption {
	font-family: 'Cabin', sans-serif;
	color: #3b1d7e;
	letter-spacing: 0.05rem;
	text-align: center;
	padding: 1rem;
}

ol {
	font-family: 'Cabin', sans-serif;
	color: #3b1d7e;
	font-size: 1.2rem;
	word-spacing: 0.05rem;
	padding: 0 2rem;
	margin-bottom: 1rem;
}

a {
	font-family: 'Cabin', sans-serif;
	color: #3b1d7e;
	word-spacing: 0.05rem;
	line-height: 1.2;
	text-decoration: none;
	color: #3b1d7e;
}

a:visited {
	color: rgb(59, 29, 126);
}

a:active {
	color: #e85a95;
}

a:hover {
	color: #e85a95;
}

/* SLIDESHOW */

.slideshow {
	position: relative;
	margin: auto;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 1rem;
	color: #3b1d7e;
	font-weight: bold;
	font-size: 1rem;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(59, 29, 126, 0.6);
}

.numbertext {
	font-family: 'Cabin', sans-serif;
	color: #3b1d7e;
	font-size: 1rem;
	padding: 1rem;
	position: absolute;
	top: 0;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

/* ------------------------------------------------------------------------------------- */
/* HEADER, NAV & FOOTER */
nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem 1rem;
}




header {
	padding: 1rem;
	background-color: #e8c0d6;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

nav a {
	font-family: 'wicked_mouseregular', sans-serif;
	font-size: 1.25rem;
	color: #3b1d7e;
	letter-spacing: 0.05rem;
	padding: 1rem;
}

nav a:visited {
	color: #3b1d7e;
}

nav a:active {
	color: #e85a95;
}

nav a:hover {
	color: #e85a95;
}

#logo img {
	width: 3rem;
	height: 3rem;
	border-radius: 0;
	box-shadow: none;
	top: 0;
	margin-left: -0.5rem;
}

#burgermenu {
	background: none;
	color: #380d7d;
	border: none;
	padding: 0.5rem;
	margin-right: 0.5rem;
	width: 3rem;
	height: 3rem;
	justify-content: flex-end;
}

#menupunkter {
	position: absolute;
	text-align: right;
	background-color: #e8c0d6;
}

footer {
	font-family: 'Cabin', sans-serif;
	font-size: 1rem;
	color: #380d7d;
	text-align: center;
	color: #3b1d7e;
	padding: 3rem 0;
}

/* ------------------------------------------------------------------------------------- */
/* SPLASH */
#index_section1 {
	margin: 0;
}

#index_section1 img {
	border-radius: 0;
	box-shadow: none;
}

.grid-splash {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 2fr 5fr 1fr;
}

.pige {
	grid-column: 1/2;
	grid-row: 2/3;
}

.hidden {
	display: none;
}

.pige_hover:hover :first-child {
	display: none;
}

.pige_hover:hover :last-child {
	display: block;
}

.signatur {
	grid-column: 2/3;
	grid-row: 2/3;
}

.splash {
	grid-column: 1/3;
	grid-row: 1/4;
}

/* ------------------------------------------------------------------------------------- */
/* PORTFOLIO */

.flip {
	background-color: transparent;

}

.flip-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
	border-radius: 1rem;
}

.flip:hover .flip-inner {
	transform: rotateY(180deg);
}

.flip-front {
	backface-visibility: hidden;
	border-radius: 1rem;
	overflow: hidden;
}

.flip-back {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #70c2b1;
	transform: rotateY(180deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	top: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 1rem;
	overflow: hidden;
}

/* ------------------------------------------------------------------------------------- */
/* GR. HTML */

@media (min-width: 768px) {

	#html_section3 img {
		display: block;
		height: 100%;
		object-fit: cover;
	}

	#html_section3 .container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-gap: 2rem;
		box-sizing: content-box;
	}
}

.web_img1 {
	grid-column: 1 / 2;
	grid-row: 1 / 4;
}

.web_img2 {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}

.web_img3 {
	grid-column: 3 / 4;
	grid-row: 1 / 3;
}

.web_img4 {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
}

.web_img5 {
	grid-column: 2 / 4;
	grid-row: 3 / 5;
}

/* ------------------------------------------------------------------------------------- */
/* GR. UX */

#miss_tailor {
	padding-bottom: 1rem;
}

/* ------------------------------------------------------------------------------------- */
/* GR. ANIMATION */

#assets img {
	box-shadow: none;
	height: 100%
}

@media only screen and (min-width: 768px) {
	#screens {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#assets img {
		height: 80%
	}

	.float {
		animation-name: float_kf;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}

	@keyframes float_kf {
		0% {
			transform: translateY(0vw);
		}

		50% {
			transform: translateY(1vw);
		}

		100% {
			transform: translateY(0vw);
		}
	}

	.wiggle {
		animation-name: wiggle_kf;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}

	@keyframes wiggle_kf {
		0% {
			transform: rotate(20deg);
		}

		50% {
			transform: rotate(-20deg);
		}

		100% {
			transform: rotate(20deg);
		}
	}
}

#assets {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.ani_img1 {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.ani_img2 {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}

.ani_img3 {
	grid-column: 1 / 2;
	grid-row: 3 / 5;
}

.ani_img4 {
	grid-column: 2 / 3;
	grid-row: 3 / 5;
}

.ani_img5 {
	grid-column: 3 / 4;
	grid-row: 1 / 5;
}

/* ------------------------------------------------------------------------------------- */
/* PILOTPROJEKT */



/* ------------------------------------------------------------------------------------- */
/* BILLEDREDIGERING */

figcaption {
	font-size: 1.2rem;
}

.compare {
	display: flex;
	grid-gap: 1rem;
	margin: 0 auto;
}

.compare figure {
	flex-grow: 1;
}

.compare figcaption {
	background: transparent;
	text-align: center;
}

/* ------------------------------------------------------------------------------------- */
/* REDESIGN */


/* ------------------------------------------------------------------------------------- */
/* OM MIG */


/* ------------------------------------------------------------------------------------- */
/* MOBIL + IPAD HØJFORMAT */

@media (max-width: 767px) {
	.hide_on_mobile {
		display: none
	}

	.toggle {
		top: 100%;
		left: -1rem;
		right: -1rem;
		display: flex;
		flex-direction: column;
		padding: 1rem;
	}

	.compare {
		overflow-x: scroll;
		scroll-snap-type: x mandatory;

	}

	.compare figure {
		flex-basis: 90%;
		flex-shrink: 0;
		scroll-snap-align: center;
		box-sizing: border-box;
	}

	.compare img {
		margin-right: 1rem;
	}
}

/* ------------------------------------------------------------------------------------- */
/* IPAD BREDFORMAT + DESKTOP */
@media (min-width: 768px) {
	.hide_on_desktop {
		display: none;
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		margin: 0 1rem;
	}

	header {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	nav {
		display: flex;
		justify-content: flex-end;
		height: 2rem;
	}

	#logo {
		position: absolute;
		left: 0;

	}

	.flip {
		margin-bottom: 2rem;
	}

	.maintext {
		margin-top: 6rem;
		margin-bottom: 4rem;
	}

	/* Dropdown-menu */
	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown_content {
		display: none;
		position: absolute;
		background-color: #e8c0d6;
		text-align: left;
	}

	.dropdown_content a {
		display: block;
	}

	.dropdown:hover .dropdown_content {
		display: block;
	}
}

/* ------------------------------------------------------------------------------------- */
/* GRIDS */
@media only screen and (min-width: 768px) {

	.image {
		grid-area: image;
	}

	.text {
		grid-area: text;
	}

	.grid-2 {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'image text';
	}

	.grid-2-1 {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: 2fr 1fr;
		grid-template-areas: 'image text';
	}

	.reverse-2 {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'text image';
	}

	.reverse-2-1 {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: 1fr 2fr;
		grid-template-areas: 'text image';
	}

	.grid-3 {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(3, 1fr);
	}
}
