/* GENERELT */

* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 1rem;
	background-color: #bdeadf;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

/* FONTS & STYLING */

/* @font-face {
	font-family: 'brighly_crushregular';
	src: url('fonts/brighly_crush/brighly-crush.regular-webfont.woff2') format('woff2'),
		url('fonts/brighly_crush/brighly-crush.regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
	font-family: 'wicked_mouseregular';
	src: url('fonts/wicked_mouse/wickedmouse-agok-webfont.woff2') format('woff2'),
		url('fonts/wicked_mouse/wickedmouse-agok-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-family: 'wicked_mouseregular', sans-serif;
	font-size: 50px;
	letter-spacing: 0.05rem;
	word-spacing: 0.25rem;
	color: #f5a3cc;
}

h2 {}

h3 {}

p {}

a {
	text-decoration: none;
	/* color: ; */
}

a:active {
	/* color: ; */
}

a:hover {
	/* color: ; */
}

a:visited {
	/* color: ; */
}

header {
	padding: 1rem;
	background-color: #e8c0d6;
	box-shadow: 5px 0 10px grey;
}

nav {
	text-align: right;
}

nav a {
	font-family: 'wicked_mouseregular', sans-serif;
	font-size: 1.25rem;
	color: #3b1d7e;
	letter-spacing: 0.05rem;
	padding: 0.75rem 0;
}

#burgermenu {
	background: none;
	color: #380d7d;
	border: none;
	padding: 0.5rem;
	margin-right: 0.5rem;
	width: 3rem;
	height: 3rem;
}

#menupunkter {
	position: relative;
}

footer {
	text-align: center;
	color: #3b1d7e;
}

/* SPLASH */

.grid-splash {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 2fr 5fr 1fr;
}

.pige {
	z-index: 1;
	grid-column: 1/2;
	grid-row: 2/3;
}

.hidden {
	display: none;
}

.pige_hover:hover :first-child {
	display: none;
}

.pige_hover:hover :last-child {
	display: block;
}

.signatur {
	z-index: 1;
	grid-column: 2/3;
	grid-row: 2/3;
}

.splash {
	grid-column: 1/3;
	grid-row: 1/4;
}


/* Portfolio flipcards */

.flip {
	background-color: transparent;
}

.flip-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.flip:hover .flip-inner {
	transform: rotateY(180deg);
}

.flip-front,
.flip-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-front {
	background-color: #bbb;
	color: black;
}

.flip-back {
	background-color: rgba(112, 194, 177, 0.9);
	color: white;
	transform: rotateY(180deg);
}

/* MOBIL + IPAD HØJFORMAT */
@media (max-width: 767px) {
	.hide_on_mobile {
		display: none
	}

	.on {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		padding: 1rem;
	}
}

/* IPAD BREDFORMAT + DESKTOP */
@media (min-width: 768px) {
	.hide_on_desktop {
		display: none;
	}

	nav a {
		padding: 1rem;
	}

	/* Dropdown-menu */
	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown_content {
		display: none;
		position: absolute;
		background-color: #e8c0d6;
		z-index: 2;
		text-align: left;
	}

	.dropdown_content a {
		display: block;
	}

	.dropdown:hover .dropdown_content {
		display: block;
	}
}

/* GRIDS */
@media only screen and (min-width: 768px) {
	.column {
		margin-top: 1rem;
	}

	.grid-2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
	}
}
